<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

    <!-- loads the path to your static files-->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'diploma/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'diploma/js/bootstrap.min.js' %}"></script>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #417690!important;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Diploma Manager Application</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-auto me-auto mb-lg-0 mr">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="admin"></a>
            </li>
          </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="admin">Administrator Login</a>
                </li>
            </ul>
        </div>
      </div>
    </nav>
    <div class="row">
        <div class="col-2">
            <img style="height: 25vh" src="{% static 'diploma/images/logo_uba.png' %}">
        </div>
        <div class="col-10">
            <h1>University of Bamenda</h1>
            <h1>Higher Technical Teacher Trainning College ( HTTTC ) </h1>
        </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" style="height: 80vh">
        <div class="carousel-item active">
          <img src="{% static 'diploma/images/bg-title-01.jpg' %}" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'diploma/images/bg-title-02.jpg' %}" class="d-block w-100 img-fluid" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'diploma/images/work1.jpg' %}" class="d-block w-100 img-fluid" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
</body>
</html>